{% extends 'starter.html' %}
{% block footer %}

<footer>
<div class="footer">
    <div class="container-fluid bg-5">

            <div class="row">

                <div class="col-md-2 text-right">
                    <div class="row"><br></div>
                    <div class="row"><b class="social text-justify">SOCIALIZE WITH US</b></div>
            <div class="row">       <b class="social-hard">FOR THE LATEST</b></div>
    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#contactModal">ContactUS</button> -->
                </div>
                <div class="col-md-2">
                    <div class="row"></div>

<!-- RAND -->
                </div>




                <div class="col-md-2 text-left">
                    <br>
                    <div class="row"><b class="footer-nav">DISCOVER</b></div>
                    <div class="row small"><b class="footer-nav-hard">MORE</b></div>
<div class="row"><br> </div>
<div class="row"> </div>
                    <div class="row small"><b class="footer-nav-text">- <a href="#">Request</a></b></div>
                    <div class="row small"><b class="footer-nav-text">- <a href="#">Site Map</a></b></div>
                </div>



                <div class="col-md-2 text-left">
<br>

                    <div class="row"><b class="footer-nav2">JUST ASK FOR</b></div>
                    <div class="row small"><b class="footer-nav2-hard">MORE</b></div>
<div class="row"><br> </div>
<div class="row"> </div>
                    <div class="row small"><b class="footer-nav2-text">- <a href="#">Request</a></b></div>
                    <div class="row small"><b class="footer-nav2-text">- <a href="#">Site Map</a></b></div>
                </div>


                <div class="col-md-2 text-right">
                    <div class="row"><br></div>
                    <b class="social text-justify">PROGRAMMER AND DESIGN</b><br>
                    <b class="social-hard">FOR HIRE</b><br>
    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#contactModal">ContactUS</button> -->
                </div>




        <div class="col-md-2 text-left">
            <div class="row"></div>


            <address>
                <strong>Designed by <a href="mailto:webmaster@example.com">Jeremy Massey</a></strong><br>
                xpcpro.home.nfoservers.com<br>
                Norfolk, VA<br>
                USA
            </address>
        </div>
        <br><br><br>
        </div>
        </div>

</div>
<!-- <div class="alert alert-success bg-5">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{% now "F jS Y H:i" %} ||</strong> Thanks for visiting my site.

</div> -->

{% endblock %}
